﻿
@{
    ViewBag.Title = "RecoverPassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h2>Recuperar contraseña en Se le tiene</h2>

<form method="post" action="/api/Account/RecoverPassword" id="recoverform">
    <label for="newpassword">Nueva contraseña: </label>
    <input name="newpassword" id="newpassword" type="password" onkeyup="checkLength(); return false;" />
    <span id="confirmMessage1" class="confirmMessage"></span>
    <br />
    <label for="confirmpassword">Confirma tu contraseña: </label>
    <input name="confirmpassword" id="confirmpassword" type="password" onkeyup="checkPass(); return false;" />
    <input type="hidden" name="token" value="@ViewBag.TokenRecover"/>
    <span id="confirmMessage" class="confirmMessage"></span>
    <br />
    <input type="submit" value="Recuperar" id="submitrecover"/>
</form>

<script type="text/javascript">
    $(function () {
        //$('#submitrecover').attr('disabled');
        document.getElementById('submitrecover').setAttribute('disabled', 'disabled');
        var listo = 0;

    });
    function checkLength() {
        var pass1 = document.getElementById('newpassword');
        var message = document.getElementById('confirmMessage1');
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
        if (pass1.value.length > 5) {
            //The passwords match.
            //Set the color to the good color and inform
            //the user that they have entered the correct password

            message.style.color = goodColor;
            message.innerHTML = "";
            listo = 1;
            
        } else {
            //The passwords do not match.
            //Set the color to the bad color and
            //notify the user.
            message.style.color = badColor;
            message.innerHTML = "Requerido mínimo 6 caracteres";
            listo = 0;
            document.getElementById('submitrecover').setAttribute('disabled', 'disabled');
            
        }
    }

    function checkPass() {
        //Store the password field objects into variables ...
        var pass1 = document.getElementById('newpassword');
        var pass2 = document.getElementById('confirmpassword');
        //Store the Confimation Message Object ...
        var message = document.getElementById('confirmMessage');
        //Set the colors we will be using ...
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
        //Compare the values in the password field
        //and the confirmation field
        if (pass1.value == pass2.value) {
            //The passwords match.
            //Set the color to the good color and inform
            //the user that they have entered the correct password
            pass2.style.backgroundColor = goodColor;
            message.style.color = goodColor;
            message.innerHTML = ""
            if (listo == 1)
                document.getElementById('submitrecover').removeAttribute('disabled');
        } else {
            //The passwords do not match.
            //Set the color to the bad color and
            //notify the user.
            pass2.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = "La contraseña no coincide"
            document.getElementById('submitrecover').setAttribute('disabled', 'disabled');
            


        }
    }

</script>